{% extends "gDoorControl/base.html" %}



{% block content %}

  {% if form.errors %}
    <p>Sothing went wrong !</p>
  {% endif %}

  <form method="post" action="{% url 'toggleDoor' %}">
    {% csrf_token %}
    <input type="submit" value="ToggleDoor" />
  </form>

  <div class="container-fluid">
    <p id="demo">Door unknown</p>
   
    <!-- <button id='id_get_data' type="button" >Click Me!</button> -->
</div>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

{% endblock %}


{% block javascript %}
<script>
    /*
    On focus out on input nickname,
    call AJAX get request to check if the nickName
    already exists or not.
    */
    setInterval(function() {
      fetch("{% url 'getDoorState' %}" , {
      headers:{
          'Accept': 'application/json',
          'X-Requested-With': 'XMLHttpRequest', 
      },
    } )
    .then(response => {
      return response.json() 
    })
    .then(data => {
      document.getElementById("demo").innerHTML = data.state;
    })
  }, 20000);
  {% comment %} 
  //   document.getElementById("id_get_data").addEventListener("click", function() {
  //     fetch("{% url 'getDoorState' %}" , {
  //     headers:{
  //         'Accept': 'application/json',
  //         'X-Requested-With': 'XMLHttpRequest', 
  //     },
  //   } )
  //   .then(response => {
  //     return response.json() 
  //   })
  //   .then(data => {
  //     document.getElementById("demo").innerHTML = data.state;
  //   })
  // });

    

  
    // $("#id_nick_name").focusout(function (e) {
    //     e.preventDefault();
    //     // get the nickname
    //     var nick_name = $(this).val();
    //     // GET AJAX request
    //     $.ajax({
    //         type: 'GET',
    //         url: "{% url 'validate_nickname' %}",
    //         data: {"nick_name": nick_name},
    //         success: function (response) {
    //             // if not valid user, alert the user
    //             if(!response["valid"]){
    //                 alert("You cannot create a friend with same nick name");
    //                 var nickName = $("#id_nick_name");
    //                 nickName.val("")
    //                 nickName.focus()
    //             }
    //         },
    //         error: function (response) {
    //             console.log(response)
    //         }
    //     })
    // })
     {% endcomment %}
</script>
{% endblock javascript %}
